{% use "@CollectionJs/form_div_layout.html.twig" %}

{% block collection_js_add_button %}
    <button type="button" class="btn btn-link {{ form_parent(form).vars.collection_id }} collection-js-add-btn">
        <i class="fa fa-plus pr-1"></i>
        {{ 'action.add_new_item'|trans }}
    </button>
{% endblock collection_js_add_button %}

{% block collection_js_actions %}
    <div class="btn-group collection-js-actions" role="group" aria-label="Actions">
        {% apply spaceless %}
            {% if form_parent(form).vars.allow_add %}
                <button type="button" class="btn btn-link btn-link-primary {{ form_parent(form).vars.collection_id }} collection-js-elem-add"
                        title="{{ 'action.add_new_item'|trans }}">
                    <i class="fa fa-plus"></i>
                </button>
            {% endif %}
            {% if form_parent(form).vars.allow_move_up %}
                <button type="button" class="btn btn-link btn-link-secondary {{ form_parent(form).vars.collection_id }} collection-js-elem-up"
                        title="{{ 'action.move_item_up'|trans }}">
                    <i class="fa fa-arrow-up"></i>
                </button>
            {% endif %}
            {% if form_parent(form).vars.allow_move_down %}
                <button type="button" class="btn btn-link btn-link-secondary {{ form_parent(form).vars.collection_id }} collection-js-elem-down"
                        title="{{ 'action.move_item_down'|trans }}">
                    <i class="fa fa-arrow-down"></i>
                </button>
            {% endif %}
            {% if form_parent(form).vars.allow_delete %}
                <button type="button" class="btn btn-link btn-link-danger {{ form_parent(form).vars.collection_id }} collection-js-elem-remove"
                        title="{{ 'action.remove_item'|trans }}">
                    <i class="far fa-trash-alt"></i>
                </button>
            {% endif %}
        {% endapply %}
    </div>
{% endblock collection_js_actions %}
