{% use "bootstrap_base_layout.html.twig" %}

{% block collection_js_accordion %}
    <div class="panel-group collection-js-root" data-prototype="{{ form_widget(prototype) | e }}" role="tablist" aria-multiselectable="true">
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_widget(child) -}}
        {% endfor %}
    </div>
{% endblock collection_js_accordion %}

{% block collection_js_accordion_item %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a class="{{ form.vars.valid ? 'collapsed' }}" role="button" data-toggle="collapse" href="#{{ id }}-contents" aria-expanded="{{ form.vars.valid ? 'false' : 'true' }}">
                    {{ value|collection_js_as_string }}
                </a>
                {{ block('collection_js_actions') }}
            </h4>
        </div>
        <div id="{{ id }}-contents" class="panel-collapse collapse {{ not form.vars.valid ? 'in' }}" role="tabpanel">
            <div class="panel-body">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock collection_js_accordion_item %}
