{% use "bootstrap_base_layout.html.twig" %}

{% block collection_js_accordion %}
    <div class="accordion collection-js-root" data-prototype="{{ form_widget(prototype) | e }}">
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_widget(child) -}}
        {% endfor %}
    </div>
{% endblock collection_js_accordion %}

{% block collection_js_accordion_item %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button {{ form.vars.valid ? 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                {{ value|collection_js_as_string }}
            </button>
            {{ block('collection_js_actions') }}
        </h2>
        <div id="{{ id }}-contents" class="accordion-collapse collapse {{ not form.vars.valid ? 'show' }}">
            <div class="accordion-body">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock collection_js_accordion_item %}
