{% use "@CollectionJs/bootstrap_base_layout.html.twig" %}

{% block collection_js_accordion %}
    <div class="collection-js-root" data-prototype="{{ form_widget(prototype) | e }}">
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_widget(child) -}}
        {% endfor %}
    </div>
{% endblock collection_js_accordion %}

{% block collection_js_accordion_item %}
    <div class="card">
        <div class="card-header">
            <a class="{{ form.vars.valid ? 'collapsed' }}" data-toggle="collapse" href="#{{ id }}-contents" aria-expanded="{{ form.vars.valid ? 'false' : 'true' }}">
                <i class="fa fa-chevron-right collection-js-accordion-collapse-marker"></i>
                {{ block('collection_js_accordion_label') }}
            </a>
            {{ block('collection_js_actions') }}
        </div>
        <div id="{{ id }}-contents" class="collapse {{ not form.vars.valid ? 'show' }}">
            <div class="card-body">
                {{ block('collection_js_accordion_item_body') }}
            </div>
        </div>
    </div>
{% endblock collection_js_accordion_item %}
