{% block collection_js_row %}
    {%- set controllerName = 'tienvx--ux-collection-js--collection' -%}
    {%- set dataController = (attr['data-controller']|default('') ~ ' ' ~ controllerName)|trim -%}
    {% set row_attr = row_attr|merge({
        'data-controller': dataController,
        ('data-'~ controllerName ~ '-allow-add-value'): allow_add ? 'true' : 'false',
        ('data-'~ controllerName ~ '-allow-delete-value'): allow_delete ? 'true' : 'false',
        ('data-'~ controllerName ~ '-allow-move-up-value'): allow_move_up ? 'true' : 'false',
        ('data-'~ controllerName ~ '-allow-move-down-value'): allow_move_down ? 'true' : 'false',
        ('data-'~ controllerName ~ '-prototype-name-value'): prototype_name ? '__name__',
    }) %}

    {{ block('form_row') }}
{% endblock collection_js_row %}

{% block collection_js_widget %}
    <div class="accordion collection-js-root" data-prototype="{{ form_widget(prototype) | e }}">
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_row(child) -}}
        {% endfor %}
    </div>

    {% if allow_add|default(false) %}
        <button type="button" class="btn btn-link collection-js-add-btn">
            <i class="fa fa-plus pr-1"></i>
            {{ 'action.add_new_item'|trans }}
        </button>
    {% endif %}
{% endblock collection_js_widget %}

{% block collection_js_entry_widget %}
    <div class="accordion-item">
        <div class="accordion-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{ value }}</h5>
            <div class="btn-group" role="group" aria-label="Accordion header buttons group">
                {% if form_parent(form).vars.allow_add %}
                    <button type="button" class="btn btn-outline-primary ml-2 collection-js-elem-add"
                            title="{{ 'action.add_new_item'|trans }}">
                        <i class="fa fa-plus"></i>
                    </button>
                {% endif %}
                {% if form_parent(form).vars.allow_move_up %}
                    <button type="button" class="btn btn-outline-secondary ml-2 collection-js-elem-up"
                            title="{{ 'action.move_item_up'|trans }}">
                        <i class="fa fa-sort-up"></i>
                    </button>
                {% endif %}
                {% if form_parent(form).vars.allow_move_down %}
                    <button type="button" class="btn btn-outline-secondary ml-2 collection-js-elem-down"
                            title="{{ 'action.move_item_down'|trans }}">
                        <i class="fa fa-sort-down"></i>
                    </button>
                {% endif %}
                {% if form_parent(form).vars.allow_delete %}
                    <button type="button" class="btn btn-outline-danger ml-2 collection-js-elem-remove"
                            title="{{ 'action.remove_item'|trans }}">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                {% endif %}
            </div>
            <a class="accordion-button {{ form_parent(form).vars.render_expanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
            </a>
        </div>
        <div id="{{ id }}-contents" class="accordion-collapse collapse {{ form_parent(form).vars.render_expanded ? 'show' }}">
            <div class="accordion-body">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock collection_js_entry_widget %}

{% block collection_entry_widget %}
    {{ form_widget(form) }}
{% endblock collection_entry_widget %}
